
*.targets
Tetris/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tetris/obj/Debug/net6.0/Tetris.AssemblyInfo.cs
Tetris/obj/Debug/net6.0/Tetris.AssemblyInfoInputs.cache
Tetris/obj/Debug/net6.0/Tetris.csproj.AssemblyReference.cache
Tetris/obj/Debug/net6.0/Tetris.GeneratedMSBuildEditorConfig.editorconfig
Tetris/obj/Debug/net6.0/Tetris.GlobalUsings.g.cs
*.pdb
*.dll
*.v2
Tetris/.vs/Tetris/v17/.suo
*.json
*.cache
*.BuildWithSkipAnalyzers
*.exe
*.txt
*.props
