
*.targets
Tetris/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tetris/obj/Debug/net6.0/Tetris.AssemblyInfo.cs
Tetris/obj/Debug/net6.0/Tetris.AssemblyInfoInputs.cache
Tetris/obj/Debug/net6.0/Tetris.csproj.AssemblyReference.cache
Tetris/obj/Debug/net6.0/Tetris.GeneratedMSBuildEditorConfig.editorconfig
Tetris/obj/Debug/net6.0/Tetris.GlobalUsings.g.cs
*.pdb
*.dll
*.v2
Tetris/.vs/Tetris/v17/.suo
*.json
*.cache
*.BuildWithSkipAnalyzers
*.exe
*.txt
*.props
*.v1
/.vs/Tetris/v17/.suo
Tetris/obj/Debug/net6.0/Tetris.csproj.CopyComplete
Tetris/packages/SmallBasicLib.1.2/.signature.p7s
Tetris/packages/SmallBasicLib.1.2/lib/SmallBasicLibrary.xml
Tetris/packages/SmallBasicLib.1.2/lib/SmallBasicLibrary.pt.xml
Tetris/packages/SmallBasicLib.1.2/SmallBasicLib.1.2.nupkg
TetrisGui/App.config
TetrisGui/bin/Debug/SmallBasicLibrary.xml
TetrisGui/bin/Debug/TetrisGui.exe.config
TetrisGui/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TetrisGui/obj/Debug/TetrisGui.csproj.CopyComplete
TetrisGui/packages.config
TetrisGui/Properties/AssemblyInfo.cs
